SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_URL= PostgreSQL URL (Render se milega)
REDIS_URL=redis://localhost:6379/0
EMAIL_HOST_USER=your-gmail@gmail.com
EMAIL_HOST_PASSWORD=your-16-digit-app-password
DEFAULT_FROM_EMAIL=your-gmail@gmail.com
FLOWER_BASIC_AUTH=admin:notifypro123
